#cloud-config
vyos_config_commands:
  - set firewall group network-group RFC1918 network '10.0.0.0/8'
  - set firewall group network-group RFC1918 network '172.16.0.0/12'
  - set firewall group network-group RFC1918 network '192.168.0.0/16'
  - set firewall interface eth0 in
  - set firewall interface eth0 local name 'OUTSIDE-LOCAL'
  - set firewall interface eth0 out name 'INSIDE-OUT'
  - set firewall name INSIDE-OUT
  - set firewall name INSIDE-OUT default-action 'drop'
  - set firewall name INSIDE-OUT rule 10 action 'accept'
  - set firewall name INSIDE-OUT rule 10 state established 'enable'
  - set firewall name INSIDE-OUT rule 10 state related 'enable'
  - set firewall name INSIDE-OUT rule 20 action 'accept'
  - set firewall name INSIDE-OUT rule 20 description 'accept internet'
  - set firewall name INSIDE-OUT rule 20 destination group network-group '!RFC1918'
  - set firewall name OUTSIDE-LOCAL default-action 'drop'
  - set firewall name OUTSIDE-LOCAL rule 10 action 'accept'
  - set firewall name OUTSIDE-LOCAL rule 10 state established 'enable'
  - set firewall name OUTSIDE-LOCAL rule 10 state related 'enable'
  - set firewall name OUTSIDE-LOCAL rule 31 action 'accept'
  - set firewall name OUTSIDE-LOCAL rule 31 destination port '22'
  - set firewall name OUTSIDE-LOCAL rule 31 protocol 'tcp'
  - set firewall name OUTSIDE-LOCAL rule 31 state new 'enable'
  - set interfaces ethernet eth0 address '{{ item.network.wan_ip }}/{{ network.wan_ip_mask | default ("24") }}'
  - set interfaces ethernet eth0 description '{{ network.wan_description }}'
  - set interfaces ethernet eth0 vif {{ network.vlan_id }} address '{{ item.network.lan_ip }}/{{ network.lan_ip_mask }}'
  - set interfaces ethernet eth0 vif {{ network.vlan_id }} description '{{ network.lan_description }}'
  - set interfaces loopback lo
  - set nat source rule 100 outbound-interface '{{ network.nat_outbound_interface }}'
  - set nat source rule 100 source address '{{ network.nat_source_address }}'
  - set nat source rule 100 translation address 'masquerade'
  - set protocols static route 0.0.0.0/0 next-hop '{{ network.static_route_next_hop }}'
  - set service dhcp-server shared-network-name LAN subnet {{ network.dhcp.lan.subnet }} default-router '{{ item.network.dhcp.lan.default_router }}'
  - set service dhcp-server shared-network-name LAN subnet {{ network.dhcp.lan.subnet }} name-server '{{ item.network.dhcp.lan.name_server }}'
  - set service dhcp-server shared-network-name LAN subnet {{ network.dhcp.lan.subnet }} domain-name '{{ network.dhcp.lan.domain_name }}'
  - set service dhcp-server shared-network-name LAN subnet {{ network.dhcp.lan.subnet }} lease '{{ network.dhcp.lan.lease }}'
  - set service dhcp-server shared-network-name LAN subnet {{ network.dhcp.lan.subnet }} range 0 start '{{ network.dhcp.lan.range_start }}'
  - set service dhcp-server shared-network-name LAN subnet {{ network.dhcp.lan.subnet }} range 0 stop '{{ network.dhcp.lan.range_stop }}'
  - set service dns forwarding cache-size '{{ network.dns_cache_size }}'
  - set service dns forwarding listen-address '{{ item.network.dns_listen_address }}'
  - set service dns forwarding allow-from '{{ network.dns_allow_from }}'
  - set service dns forwarding system
  - set service ssh port '22'
  - set system host-name '{{ item.name }}'
  - set system login user {{ users[0].user }} authentication encrypted-password '{{ users[0].encrypted_password }}'
  - set system login user {{ users[0].user }} authentication public-keys {{ users[0].full_name }} key '{{ users[0].public_key }}'
  - set system login user {{ users[0].user }} authentication public-keys {{ users[0].full_name }} type '{{ users[0].key_type }}'
  - set system login user {{ users[0].user }} full-name '{{ users[0].full_name }}'
  - set system login user vyos authentication encrypted-password '$6$W0BFodB2nd6pKA8h$iaTGVGe5yPwDCbQnqgcthS4ftBMQ8vAoVq/77Ojf4ufGWA4ux4zYa0IuImxijExZ8CbV0enEO0kqonZmiB1H/0'
  - set system login user vyos authentication plaintext-password ''
{% for ntp_server in ntp_servers %}
  - set system ntp server {{ ntp_server }}
{% endfor %}
  - set system name-server '{{ network.name_server }}'
